.book-card {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: auto;
    background: transparent;
    display: flex;
    justify-content: space-between;
    border: none;
    overflow: hidden;
    perspective: 1500px;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    border-radius: 15px;
}

.book-card:hover {
    /* transform: translateY(-10px) rotateX(10deg) rotateY(10deg); */
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.book-card-body {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    position: relative;
}

.book-cover-container,
.book-details-container {
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.book-cover-container {
    flex-shrink: 0;
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.book-cover {
    width: 100%;
    height: auto;
    transition: opacity 0.6s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
}

.book-details-container {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: opacity 0.6s ease, transform 0.6s ease;
    border-radius: 0 15px 15px 0;
}

.book-card:hover .book-cover-container {
    opacity: 0;
}

.book-card:hover .book-details-container {
    opacity: 1;
    transform: translateX(0);
}
