.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.paper {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  text-align: center;
}

.lines {
  border-top: 2px dashed #000;
  margin-bottom: 10px;
}

.loading-message {
  font-size: 18px;
  font-weight: bold;
  background-color: whitesmoke; /* Yellow background */
  padding: 5px 10px; /* Add some padding to highlight the text */
  border-radius: 5px; /* Add border radius for rounded corners */
}
