
.ql-editor {
  height: 300px !important;
}
.p-paginator{
  gap: 16px;
}
.p-link{
  padding: 0px 5px !important;
}
.poems-container {
  overflow-y: auto;
  max-height: calc(-40px + 100vh);
  margin-top: 45px;
  margin-bottom: 50px;
}

.fixed-top-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000; 
}


.main-content {
  /* padding-top: 60px */
}


.custom-textarea {
  min-height: 130px;
}


/* Style the scrollbar */
::-webkit-scrollbar {
  width: 0px !important; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}


@media (max-width: 576px) {
  .form-height {
    align-self: unset;
    justify-content: unset;
    align-items: unset;
    height: unset;
  }
  .form-padding{
    padding: 0rem 0rem 0.5rem 0rem;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .form-height {
    align-self: unset;
    justify-content: unset;
    align-items: unset;
    height: unset;
  }
  .form-padding{
    padding: 0rem 0rem 0.5rem 0rem;
  }
}

@media (min-width: 993px) {
  .form-height {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .form-padding{
    padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  }
}

